<form class="card-form">
  <h4>Make a New Card</h4>
  <label>Title:
    <input type="title" name="card[title]">
  </label>
  <label>Description:
    <input type="text" name="card[description]">
  </label>
  <button type="submit">create card</button>
</form>
