/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: #000 !important;
}

.backdrop {
  margin-left: 50px;
}

.board, .list {
  display: block;
  float: left;
  border-radius: 6px;
  background-color: #eee;
  width: 200px;
  border: 1px solid #cccccc;
  margin: 10px;
  text-align: center;
}

.board {
  height: 200px;
}

.board:hover {
  background-color: #dbdbdb;
}

.list {
  height: 100%;
}

.card {
  margin: 5px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  background-color: #eee;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
}

.card-title {
  font-size: 18px;
  color: #000;
}

.new-board {
  display: block;
  // position: absolute;
}

.card-form {
  display: block;
  background-color: transparent;
  padding: 10px;
  text-align: left;
}

.container.container-fluid {
  width: 100%;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.delete-card {
  display: block;
  float: right;
  background-color: transparent;
  border: none;
  margin-left: 140px;
  margin-bottom: 5px;
  color: #cccccc;
}

.delete-card:hover {
  color: #000;
}

.delete {
  margin-top: 95px;
}

.delete:hover {
  background-color: #cccccc;
  border: 1px solid #5a5a5a;
}
/*.board:hover > .delete {
  display: block;
}*/

/*.card:hover > .delete-card {
  display: block;
  margin: auto;
  background-color: #FF3333;
}*/

.delete-list {
  float: right;
  margin-left: 150px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  color: #cccccc;
}

.navbar.navbar-default {
  border-radius: 0px;
  background-color: #eee;
}

a.navbar-brand {
  color: #000 !important;
  margin-left: 10px !important;
  font-family: "Pacifico", sans-serif;
}

.navbar-btn {
  background-color: #e2e2e2 !important;
  border: none !important;
  color: #000 !important;
}

.navbar-btn:hover {
  background-color: #cccccc !important;
}

.new-session {
  margin-left: 50px;
}

.nav-link:hover > a {
  color: #cccccc !important;
}

.sign-in-submit, .user-submit {
  background-color: #eee !important;
  border: 1px solid #cccccc !important;
  color: #000 !important;
  margin-top: 5px !important;
  border-radius: 25px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.sign-in-submit:hover, .user-submit:hover {
  background-color: #cccccc !important;
}

.guest-login-button {
  margin-left: 50px;
  margin-top: 10px;
}
