/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#main {
  position: relative;
}

.board, .list {
  display: block;
  float: left;
  background-color: #ccc;
  width: 200px;
  height: 500px;
  border: 1px solid #ccc;
  margin: 10px;
}

.card {
  border: 1px solid black;
  margin: auto;
}

.new-board {
  display: block;
  // position: absolute;
}

.card-form {
  display: block;
  border: 2px solid black;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.delete-card {
  display: none;
}

.card:hover > .delete-card {
  display: block;
}
