/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.board, .list {
  display: block;
  float: left;
  width: 150px;
  height: 120px;
  border: 1px solid #ccc;
  margin: 10px;
}

// .list-text {
//   display: block;
//   float: left;
//   width: auto;
//   height: auto;
//   padding: 10px;
// }

.group:after {
  content: "";
  display: block;
  clear: both;
}
