/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.board, .list {
  display: block;
  float: left;
  background-color: #D6EFEF;
  width: 200px;
  border: 1px solid #2c3e50;
  border-radius: 12px;
  margin: 10px;
  text-align: center;
}

.board {
  height: 200px;
}

.list {
  height: 500px;
}

.card {
  margin: auto;
  border: 1px solid #2c3e50;
  border-radius: 12px;
}

.new-board {
  display: block;
  // position: absolute;
}

.card-form {
  display: block;
  background-color: #82CDCD;
  padding: 10px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.delete-card {
  display: none;
}

.card:hover > .delete-card {
  display: block;
  margin: auto;
  // float: left;
  background-color: #FF3333;
}

.delete-list {
  background-color: #FF3333;
}
